body {
  background-color: #A0C49D;
}
#root {
  /* Phone */
  position: relative;
  min-height: 150vh;
}
@media (min-width: 480px) {
  #root {
    /* Ipad */
    min-height: 125vh;
  }
}
@media (min-width: 768px) {
  #root {
    /* Small Screen */
    min-height: 100vh;
  }
}
.main {
  padding-bottom: 18%;
}
.title {
  color: #364734;
  display: inline-flex;
  align-content: center;
}
.card {
  background-image: linear-gradient(to bottom right, #E1ECC8, #F7FFE5);
  display: inline-block;
  align-items: center;
}
.card .cardName {
  color: #364734;
  display: inline-block;
  margin: 0px;
}
.card .cardType {
  color: #364734;
  text-align: right;
  float: right;
}
.card p {
  display: block;
  color: #364734;
}
@media (min-width: 480px) {
  .card {
    max-width: 30%;
    margin: 0.5%;
    padding: 0.5%;
  }
  .card .cardName {
    max-width: 45%;
  }
  .card .cardType {
    max-width: 45%;
    margin: 0px;
  }
}
@media (min-width: 768px) {
  .card {
    max-width: 30%;
    margin: 0.5%;
    padding: 0.5%;
  }
  .card .cardName {
    max-width: 45%;
  }
  .card .cardType {
    max-width: 45%;
    margin: 0px;
  }
}
@media (min-width: 1200px) {
  .card {
    max-width: 30%;
    margin: 0.5%;
    padding: 0.5%;
  }
  .card .cardName {
    max-width: 45%;
  }
  .card .cardType {
    max-width: 45%;
    margin: 0px;
  }
}
.charform {
  padding-left: 0.5%;
  margin-bottom: 0.5%;
  color: #364734;
}
.Logo {
  width: 90px;
  height: 75px;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #364734;
  font-size: 0.5em;
}
@media (min-width: 768px) {
  footer {
    font-size: 1em;
  }
}
